.im-lead-generation {
  width: 100%;
  min-height: 400px;
  display: flex;
  gap: 60px;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 30px;
  flex-wrap: wrap;

  .im-lead-generation-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    img {
      width: 400px;
      max-width: 100%;
    }
  }

  .im-lead-generation-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    h2 {
      text-align: center;
      font-size: var(--font-size-16);
      background: var(--error-gradient);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-bottom: 20px;
    }

    .im-lead-generation-messages {
      display: flex;
      flex-direction: column;
      gap: 16px;
      color: var(--typeface-dark);
      font-size: var(--font-size-5);
      line-height: 1.5;
      font-weight: bold;
      margin-bottom: 30px;

      .im-underlined {
        color: var(--error-color);
      }
    }

    .im-lead-generation-cards-container {
      display: grid;
      gap: 40px;
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));

      .im-lead-generation-card {
        display: flex;
        flex-direction: column;
        box-shadow: var(--box-shadow);
        border-radius: 8px;

        h4 {
          border-radius: 8px 8px 0 0;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: var(--font-size-5);
          background: var(--error-gradient);
          color: var(--white-color);
          padding: 8px;
        }

        p {
          font-size: var(--font-size-3);
          line-height: 1.5;
          color: var(--typeface-medium);
          text-align: center;
          padding: 16px;
        }
      }
    }
  }
}
