.im-presentation {
  width: 100%;
  display: grid;
  min-height: 450px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 50px;

  @media (max-width: 720px) {
    padding: 30px;
  }

  .im-presentation-left {
    display: flex;
    flex-direction: column;
    width: 50%;

    .im-title {
      font-size: var(--font-size-15);
      font-family: var(--typeface-sans-serif);
      color: var(--primary-color);
      margin-bottom: 30px;
      min-width: 300px;
    }

    .im-second-title {
      color: var(--typeface-medium);
      font-size: var(--font-size-6);
      margin-bottom: 5px;
    }

    .im-message {
      color: var(--typeface-medium);
      font-size: var(--font-size-5);
      margin-bottom: 30px;
    }

    .im-title-investor-machine {
      width: 225px;
      h1 {
        font-size: var(--font-size-9);
        color: var(--error-color);
        overflow: hidden;
        border-right: 0.1em solid var(--primary-color);
        white-space: nowrap;
        letter-spacing: 0.02em;
        animation:
          typing 3s steps(16, end),
          blink-caret 1s step-end infinite;
      }
    }

    .im-description {
      margin-top: 10px;
      color: var(--typeface-light);
      font-size: var(--font-size-3);
      line-height: 1.5;
      max-width: 500px;
      margin-bottom: 30px;
    }
  }

  .im-presentation-right {
  }
}
