.im-presentation {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 50px;
  gap: 80px;

  @media (max-width: 720px) {
    padding: 30px;
  }

  .im-presentation-left {
    display: flex;
    flex-direction: column;
    min-width: 50%;

    .im-title {
      font-family: var(--typeface-sans-serif);
      color: var(--primary-color);
      margin-bottom: 30px;
      width: 100%;
    }

    .im-second-title {
      color: var(--typeface-medium);
      margin-bottom: 5px;
    }

    .im-message {
      color: var(--typeface-medium);
      margin-bottom: 30px;
    }

    .im-title-investor-machine {
      width: 255px;
      h1 {
        font-size: var(--font-size-huge);
        color: var(--error-color);
        overflow: hidden;
        border-right: 0.06em solid var(--primary-color);
        white-space: nowrap;
        letter-spacing: 0.02em;
        animation:
          typing 2s steps(16, end),
          blink-caret 1s step-end infinite;
      }
    }

    .im-description {
      margin-top: 10px;
      color: var(--typeface-light);
      line-height: 1.5;
      max-width: 500px;
      margin-bottom: 30px;
    }
  }
}
