.im-video-vimeo {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  border-radius: 8px;

  .im-thumbnail {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    background-color: var(--transparent);
    width: fit-content;

    img {
      border-radius: 8px;
    }

    .im-play-icon {
      position: absolute;
      background-color: var(--white-color);
      width: 40px;
      height: 40px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 10px;
      bottom: 10px;
    }
  }

  iframe {
    overflow: hidden;
    border: 0;
    align-self: center;
    width: 100%;
  }

  .im-loading-wrapper {
    background-color: var(--background-white-color);
    border-radius: var(--container-border-radius);
    border: 1px solid var(--border-color);
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
  }
}
