.im-video {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .im-image-loading-gear {
    padding: 10px;
  }

  .im-video-loading {
    animation: 1s forwards infinite loading linear;
    background: var();
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 800px 104px;
    flex: 1;
  }

  .im-display-none {
    display: none;
  }

  .im-video-tag {
    width: fit-content;
    max-width: 100%;
  }

  .im-video-error {
    width: 100%;
    font-size: var(--font-2);
    height: 100%;
    gap: 5px;
    color: var(--error-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-medium-color);
  }
}
