.im-featured-by {
  background: var(--blue-gradient);
  width: 100%;
  height: 35vh;
  overflow: hidden;
  padding-block: 40px;
  display: flex;
  flex-direction: column;

  h2 {
    width: 100%;
    text-align: center;
    background: var(--light-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 2px;
    font-size: var(--font-size-huge);
  }

  hr {
    width: 120px;
    border-top: 1px solid var(--white-color);
    border-bottom: none;
  }

  .im-featured-by-logos {
    display: flex;
    gap: 24px;
    align-items: center;
    flex: 1;
  }
}
