.im-testimonials {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    padding-top: 50px;
    font-size: var(--font-size-14);
    background: var(--blue-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 60px;
    text-align: center;
  }

  .im-testimonials-videos-container {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    padding-inline: 4px;
    height: 100%;
    margin-bottom: 10px;
    .im-testimonials-videos {
      display: flex;
      flex: 1;
      gap: 20px;

      justify-content: center;
      height: 250px;
      max-width: 100%;
    }
  }

  .im-pages-icons {
    display: flex;
  }

  @media (max-width: 720px) {
    .im-pages-icons {
      display: none;
    }
  }
}
