.im-header {
  height: 80px;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--background-white);
  z-index: 90;
  top: 0;
  transition: box-shadow 0.5s ease;

  &.im-scrolled {
    box-shadow: var(--background-box-shadow);
  }

  .im-header-nav-list {
    display: flex;
    gap: 20px;
    color: blue;
  }
}
