.im-header {
  position: sticky;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: var(--background-box-shadow);
  background-color: var(--background-white);
  z-index: 20;
  top: 0;
  .im-header-nav-list {
    display: flex;
    gap: 20px;
    color: white;
  }
}
