.im-header {
  position: sticky;
  height: 8vh;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--background-white);
  z-index: 90;
  top: 0;
  transition: box-shadow 0.5s ease;

  &.im-scrolled {
    box-shadow: var(--background-box-shadow);
  }

  .im-header-nav-list {
    display: flex;
    gap: 20px;
    color: blue;
  }

  .im-header-logo {
    background: var(--transparent-color);
    border: none;
  }

  @media (min-width: 720px) {
    .im-mobile-menu {
      display: none;
    }

    .im-header-nav {
      display: flex;
    }
  }

  @media (max-width: 720px) {
    padding: 30px;
    .im-header-logo {
      height: 25px;
      background: var(--transparent-color);
    }

    .im-mobile-menu {
      display: flex;
      flex-direction: row-reverse;
      gap: 20px;
      align-items: center;
    }

    .im-header-nav {
      display: none;
    }
  }
}
