.im-faq {
  width: 100%;
  background: var(--black-gradient);
  padding: 30px;
  color: var(--white-color);

  h2 {
    padding-top: 10px;
    text-align: center;
    color: var(--white-color);
    font-size: var(--font-size-8);
  }

  hr {
    margin-top: 15px;
    margin-bottom: 35px;
    width: 260px;
    border-top: 1px solid var(--white-color);
    border-bottom: none;
  }

  article {
    display: grid;
    gap: 40px 90px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
    justify-content: center;

    .im-question-group {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .im-question {
        font-weight: bold;
        font-size: var(--font-size-6);
      }

      .im-answer {
        font-size: var(--font-size-3);
        line-height: 1.2;
      }
    }
  }
}
